*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFCF7;
}

.wrapper {
  width: 87%;
  margin: 0 auto;
}

li {
  list-style: none;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

h1, h2, h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 24px;
}

.main-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-family: "Fraunces", serif;
  font-size: 18px;
  padding-bottom: 3px;
}
.main-btn:hover {
  background-color: #66D2CF;
}

header {
  text-align: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 40px;
}

.img-logo {
  width: 163px;
  height: 18px;
}

.hero {
  background: url("../assets/home/mobile/image-hero-coffeepress.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 142px;
}

.hero-text {
  max-width: 90%;
  margin: 0 auto;
}

.hero p, h2 {
  color: #FEFCF7;
}

.hero-heading {
  padding-top: 106px;
  padding-bottom: 24px;
  line-height: 1.1;
}

.hero p {
  opacity: 0.8;
}

.header-btn {
  margin-top: 39px;
  margin-bottom: 99px;
}

.collection {
  margin-bottom: 120px;
}

.collection,
.collection > .collection-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collection h2 {
  background: -webkit-linear-gradient(#83888F, #FEFCF7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collection-option p {
  color: #333D4B;
  width: 86%;
  margin-bottom: 60px;
}

.collection-option img {
  width: 200px;
  margin-bottom: 24px;
}

.espresso {
  margin-top: 35px;
}

.collection-option h4 {
  margin-bottom: 16px;
}

.choose-heading {
  font-size: 28px;
  margin-bottom: 24px;
}

.choose-intro {
  padding: 64px 7.5% 28px;
  background-color: #2C343E;
  color: #FEFCF7;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.card-group-bg {
  width: 100%;
  height: calc(50% + 16px);
  border-radius: 0 0 10px 10px;
  position: absolute;
  z-index: -10;
}

.choose-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.choose-card-wrapper > .choose-card:not(:last-of-type) {
  margin-bottom: 24px;
}

.quality {
  margin-top: 36px;
}

.choose-card {
  width: 85.5%;
  color: #FEFCF7;
  height: 382px;
  background-color: #0E8784;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.choose-card h4 {
  margin-bottom: 24px;
}
.choose-card p {
  width: 70%;
}

.choose-card-img {
  width: 72px;
  margin: 72px 0 56px;
}

.works {
  margin-top: 120px;
  text-align: center;
}
.works .works-heading {
  font-size: 24px;
  color: #83888F;
  margin-bottom: 80px;
}

.works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-wrapper > .works-stage:not(:first-of-type) {
  margin-top: 56px;
}

.works-wrapper h1 {
  color: #FDD6BA;
  margin-bottom: 24px;
}
.works-wrapper h4 {
  font-size: 28px;
  margin-bottom: 24px;
}

.works-btn {
  margin-top: 79px;
}

footer {
  margin: 120px 0 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 346px;
  background-color: #2C343E;
}
footer li {
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #83888F;
}
footer li:nth-child(-n+2) {
  margin-bottom: 24px;
}
footer .social-media {
  display: flex;
  width: 100%;
  justify-content: center;
}
footer .social-media img:nth-child(-n+2) {
  padding-right: 24px;
}
