*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFCF7;
}

.wrapper {
  width: 87%;
  margin: 0 auto;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h2, h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 24px;
}

.main-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-family: "Fraunces", serif;
  font-size: 18px;
  padding-bottom: 3px;
}
.main-btn:hover {
  background-color: #66D2CF;
}

header {
  text-align: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 40px;
}

.img-logo {
  width: 163px;
  height: 18px;
}

.hero {
  background: url("../assets/home/mobile/image-hero-coffeepress.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 142px;
}

.hero-text {
  max-width: 90%;
  margin: 0 auto;
}

.hero p, h2 {
  color: #FEFCF7;
}

.hero-heading {
  padding-top: 106px;
  padding-bottom: 24px;
  line-height: 1.1;
}

.hero p {
  line-height: 25px;
  opacity: 0.8;
}

.header-btn {
  margin-top: 39px;
  margin-bottom: 99px;
}

.collection {
  margin-bottom: 120px;
}

.collection,
.collection > .collection-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collection h2 {
  background: -webkit-linear-gradient(#83888F, #FEFCF7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collection-option p {
  color: #333D4B;
  width: 86%;
  margin-bottom: 60px;
}

.collection-option img {
  width: 200px;
  margin-bottom: 24px;
}

.espresso {
  margin-top: 35px;
}

.collection-option h4 {
  margin-bottom: 16px;
}
